@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 228 20% 18%;
    --card: 0 0% 100%;
    --card-foreground: 228 20% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 228 20% 18%;
    --primary: 207 90% 54%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 228 20% 18%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 231 41% 95%;
    --accent-foreground: 231 41% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 207 90% 54%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 228 20% 18%;
    --foreground: 210 40% 98%;
    --card: 228 20% 22%;
    --card-foreground: 210 40% 98%;
    --popover: 228 20% 16%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 88% 68%;
    --primary-foreground: 207 88% 10%;
    --secondary: 228 20% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 228 20% 25%;
    --muted-foreground: 210 40% 60%;
    --accent: 231 41% 64%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 228 20% 28%;
    --input: 228 20% 28%;
    --ring: 207 88% 68%;
    --chart-1: 207 88% 68%;
    --chart-2: 231 41% 64%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
